@page {
    margin: 20px;
  }
  
  .topPadding{
      padding-top:20px;
      font-size: 11px;
  }
  
  .header{
      padding-top:120px;
      font-size: 15px;
      font-weight: bold;
  }
  .item{
      font-size: 15px;
  }
  footer { 
      position: fixed; 
      bottom: 45px; 
      left: 0px; 
      right: 0px; 
      height: 15px;
      font-size: 12px;
      font-style: Italic;
  }
